model_list:
  - model_name: Claude Opus 4.6
    litellm_params:
      model: bedrock/anthropic.claude-opus-4-6-v1
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision
      
  - model_name: (NO BAA) GPT 4o Mini
    litellm_params:
      model: openrouter/openai/gpt-4o-mini
      api_key: os.environ/OPENROUTER_API_KEY
    model_info:
      mode: chat-vision

  - model_name: (NO BAA) Gemini 2.5 Pro
    litellm_params:
      model: openrouter/google/gemini-2.5-pro
      api_key: os.environ/OPENROUTER_API_KEY
    model_info:
      mode: chat-vision

  - model_name: Claude Sonnet 4.5
    litellm_params:
      model: bedrock/converse/global.anthropic.claude-sonnet-4-5-20250929-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision

  - model_name: Claude Opus 4.5
    litellm_params:
      model: bedrock/us.anthropic.claude-opus-4-5-20251101-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision

  - model_name: Claude Sonnet 4.0
    litellm_params:
      model: bedrock/us.anthropic.claude-sonnet-4-20250514-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision

  - model_name: Claude Opus 4.0
    litellm_params:
      model: bedrock/us.anthropic.claude-opus-4-20250514-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision
      
  - model_name: Claude Sonnet 3.7
    litellm_params:
      model: bedrock/us.anthropic.claude-3-7-sonnet-20250219-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision

  - model_name: Claude Sonnet 3.5 V2
    litellm_params:
      model: bedrock/us.anthropic.claude-3-5-sonnet-20241022-v2:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: chat-vision

  - model_name: Llama 3.1 8B Instruct
    litellm_params:
      model: bedrock/meta.llama3-1-8b-instruct-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: Llama 3.2 3B Instruct
    litellm_params:
      model: bedrock/us.meta.llama3-2-3b-instruct-v1:0
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME

  - model_name: Cohere Embed English V3
    litellm_params:
      model: bedrock/cohere.embed-english-v3
      aws_access_key_id: os.environ/AWS_ACCESS_KEY
      aws_secret_access_key: os.environ/AWS_SECRET_ACCESS_KEY
      aws_region_name: os.environ/AWS_REGION_NAME
    model_info:
      mode: embedding

  - model_name: deepseek-r1
    litellm_params:
      model: azure_ai/deepseek-r1
      api_base: os.environ/AZURE_API_BASE_DEEPSEEK_R1
      api_key: os.environ/AZURE_API_KEY_DEEPSEEK_R1
      api_version: 2024-05-01-preview

  # Azure services has unique variables as they may need to be spread
  # across multiple regions.

  - model_name: Azure OpenAI TTS-1
    litellm_params:
      model: azure/tts-1
      api_base: os.environ/AZURE_API_BASE_TTS
      api_key: os.environ/AZURE_API_KEY_TTS
      api_version: os.environ/AZURE_API_VERSION
    model_info:
      mode: audio_generation

  - model_name: Azure Whisper
    litellm_params:
      model: azure/azure-whisper
      api_base: os.environ/AZURE_API_BASE_WHISPER
      api_key: os.environ/AZURE_API_KEY_WHISPER
      api_version: os.environ/AZURE_API_VERSION
    model_info:
      mode: audio_transcription

general_settings: 
  master_key: os.environ/LITELLM_KEY
